<!DOCTYPE html>
<html>
  <head>
    <title>SysTimeToAnswer100</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
  </head>
<h1> SITE </h1>

<%= link_to 'admins_backoffice', admins_backoffice_welcome_index_path %> </br>
<%= link_to 'users_backoffice', users_backoffice_welcome_index_path %></br>
<%= link_to 'logoff user', destroy_user_session_path, method: :delete%>
  <body>
  ====================================layout
    <%= yield %>
  </body>
</html>
